/* LIGHT MODE COLORS */

$lm-blue: #0079ff;
$lm-grayish-blue: #697c9a;
$lm-desaturated-blue: #4b6a9b;
$lm-dark-blue: #2b3442;
$lm-light-gray: #f6f8ff;
$lm-white: #fefefe;

/* DARK MODE COLORS*/

$dm-blue: #0079ff;
$dm-dark-blue: #1e2a47;
$dm-navy-blue: #141d2f;
$dm-white: #fff;

// <div class="result__stats">
//           <ul class="result__stats">
//             <li class="result__stats-item">
//               <p class="result__stats-label">Repos</p>
//               <p class="result__stat result__stat--repos">8</p>
//             </li>
//             <li class="result__stats-item">
//               <p class="result__stats-label">Followers</p>
//               <p class="result__stat result__stat--followers">3938</p>
//             </li>
//             <li class="result__stats-item">
//               <p class="result__stats-label">Following</p>
//               <p class="result__stat result__stat--following">9</p>
//             </li>
//           </ul>
//         </div>
